.main-coctail-container {
            margin: 20px;
            padding: 10px;
            border: 1px solid #333;
            border-radius: 20px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.cocktail-image {
            width: 50%; 
            height: auto;
            border-radius: 12px;
            margin: 15px auto 0 0;
            display: block; 
            object-fit: cover;
            border: 2px solid #f3f4f6;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        }